[Unit]
Description = Server for chess-alpha-beta
After = network.target

[Service]
DynamicUser = yes
ExecStart = /opt/chess/chess-alpha-beta-server --journald -b 127.0.0.1:8051

RestartSec = 10
Restart = on-failure

# hardening
MemoryDenyWriteExecute = true
NoNewPrivileges = true
PrivateDevices = true
PrivateTmp = true
ProtectClock = true
ProtectControlGroups = true
ProtectHostname = true
ProtectKernelLogs = true
ProtectKernelModules = true
ProtectKernelTunables = true
ProtectProc = invisible
ProtectSystem = strict
RestrictAddressFamilies = AF_INET AF_INET6 AF_UNIX
ProtectHome = true

[Install]
WantedBy = multi-user.target
